body{
  display: flex;
  justify-content: center;
  align-items: center;
  background : rgb(81, 90, 81);
}

table{
  margin-top: 80px;
}

td{
 padding: 25px;
}
.player{
  background-image: url(image/player.png);
  background-size: contain;
  
}
.wall{
  background-image: url(image/wall.png)
 
}

.finish{
  transition: 1s;
  background-image : url(image/finish.png)
  
} 

